:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #312e38;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #312e38;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body, button, input {
  font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 500;
}

button {
	cursor: pointer;
}

.backgroundclr{
  background-color: #312e38;
  height: 100vh;
}
Form.Control{
  background-color: #312E38;
}

.custom-button {
  background-color: #ff9000 !important;
  border-color: #ff9000 !important;
  width: 100%;
  color: white !important; 
}


.clrfill{
  background-color: #312e38;
}
.yellowButtonclr{
  color: #ffffff;
  text-decoration: none;
}
.yellowButtonclr:hover{
  opacity: .8;
}
.deepbluclr{
  color: #232129;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.ylwclr{
  color: #ff9000 ;
  text-decoration: none;
}
.formClr {
color: white !important;
background-color: #26242c !important;
border:1px solid #26242c !important;
}
.formClr:focus {
  color: white !important;
  background-color:  #312e38 !important;
  border-color:  #312e38 !important;
  outline: 0;
  box-shadow: 0 0 0 .1rem rgba(5, 43, 101, 0.25);
}
.formClr::placeholder {
  color: #5a4b7c !important; 
}